
    <form id="form">
      
      <input
        type="text"
        id="fname"
        name="fname"
        data-require="true"
        data-error="Please enter first name"
        data-display="fname_error"
        data-onlychar='{"msg":"Only charactors are allowed"}'
      />
      <span id="fname_error"></span>
 <!------------------------------------------------------------------ -->
      <input
        type="text"
        id="lname"
        name="lname"
        data-require="true"
        data-error="Please enter last name"
        data-display="lname_error"
      />
      <span id="lname_error"></span>
 <!------------------------------------------------------------------ -->
      <input
        type="text"
        id="email"
        name="email"
        data-require="true"
        data-email='{"msg":"Please enter valid email"}'
        data-error="Please enter email"
        data-display="email_error"
      />
      <span id="email_error"></span>
<!------------------------------------------------------------------ -->

      <input
        type="text"
        id="mobile"
        name="mobile"
        data-require="true"
        data-number='{"msg":"Please enter valid number"}'
        data-error="Please enter mobile number"
        data-long='{"len":"10","msg":"Number should be 10 charators long"}'
        data-display="mobile_error"
      />
      <span id="mobile_error"></span>
<!------------------------------------------------------------------ -->

      <input
        type="password"
        id="pass"
        name="pass"
        data-require="true"
        data-error="Please enter password"
        data-display="pass_error"
        data-min='{"len":"6","msg":"Minimun 6 chars long"}'
        data-max='{"len":"20","msg":"Maximum 6 chars long"}'
      />
      <span id="pass_error"></span>
<!------------------------------------------------------------------ -->

      <input
        type="password"
        id="repass"
        name="repass"
        data-require="true"
        data-error="Please re-enter password"
        data-display="repass_error"
        data-match='{"to":"pass","msg":"Password not match"}'
      />
      <span id="repass_error"></span>
<!------------------------------------------------------------------ -->
      <select
        name="select"
        id="select"
        data-require="true"
        data-display="select_error"
        data-error="Please select any option"
      >
        <option value="">Select</option>
        <option value="1">1</option>
      </select>
      <span id="select_error"></span>
<!------------------------------------------------------------------ -->  
      
      Male : <input
        type="radio"
        name="gen"
        class="gender"
        value="Male"
        data-radio="true"
        data-display="radio_error"
        data-error="Please choose gender"
      />
      
      Female : <input type="radio" name="gen" class="gender" value="Female" />
      
       <span id="radio_error"></span>
<!------------------------------------------------------------------ -->    
      
      
      
      
       <button type="submit">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="validate.js"></script>
    <script src="script.js"></script>
  
